# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

backend/app/ai/models/
*.bin
*.ftz